@import "../scss/fonts.scss";

.add-inventory-item-form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 32px;
    &__title {
        margin-bottom: 32px;
        font-size: 30px;
         font-family: 'AvenirBold';
    }
    &__wrapper {
        &__input-box {
            &__text {
                font-family: 'AvenirDemi';
                font-weight: 700;
                color: #AFAFAF;
                margin-bottom: 8px;
                margin-top: 24px;
            }
            &__input-text {
                font-family: 'AvenirNormal' ;
                font-size: 20px;
                padding-left: 16px;
                padding-right: 16px;
                height: 48px;
                width: 255px;
                border: 1px solid #E1E1E1;
                border-radius: 4px;
                background-color: #FAFAFA;
            }
            &__input-text--select {
                padding-left: 16px;
                font-size: 20px;
                font-family: 'AvenirNormal';
                height: 48px;
                width: 288px;
                 border: 1px solid #E1E1E1;
                 background-color: #FAFAFA;
                  border-radius: 4px;
            }
            &__input-text::placeholder {
                color: black;
            }
            &__label {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                &__text {
                    font-size: 20px;
                }
            }
            &__textarea {
                font-family: 'AvenirNormal' ;
                font-size: 20px;
                height: 80px;
                width: 280px;
                border: 1px solid #E1E1E1;
                border-radius: 4px;
                resize: none;
            }
            &__textarea::placeholder {
                color: black;
                font-size: 20px;
                font-family: 'AvenirNormal' ;
            }
        }
    }
    &__button-wrapper {
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        &__save {
            font-family: 'AvenirDemi';
            width: 285px;
            background-color: #004892;
            color: white;
            border-radius: 4px;
            border: 0px;
            height: 48px;
             font-size: 16px;
        }
        &__cancel {
            margin-top: 16px;
            font-family: 'AvenirDemi';
            font-size: 16px;
            width: 285px;
            background-color: white;
            color: #004892;
            border-radius: 4px;
             border: 0px;
             height: 48px;

        }
    }
}

 @media screen and (min-width:768px) {
     
 }

