.button {
    width:60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    position: fixed;
    right: 24px;
    bottom: 24px;
&__logo-img {
    height: 20px;
    width: 20px;
    padding: 20px;
    border-radius: 50%;
    background-color: #004892;
}
}
.content {
    display: flex;
    flex-direction: column;
  position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 1px solid #ccc;
    background: #fff;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    border-radius: 4px;
    outline: none;
    padding: 0px;
}

.overlay {
    
     position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
}

 @media screen and (min-width:768px) {
     .content{
    width: 600px;
    height: 624px;
    margin: auto;
     }
     .overlay {
         margin: auto;
     }
  }

  @media screen and (min-width:1024px) {
      .button {
          width: 80px;
          height: 80px;
          &__logo-img {
              height: 24px;
              width: 24px;
              padding: 26px;
          }
      }
  }

  @media screen and (min-width: 1400px) {
      .button {
          right:70px;
          bottom: 50px;
      }
  }