@font-face {
  font-family: 'AvenirNormal' ;
  src: url('../GlobalFonts/AvenirNextProLT/Alternativefiles/Linotype-AvenirNextLTPro.ttf');

}

@font-face{
  font-family: 'AvenirBold';
  src: url('../GlobalFonts/AvenirNextProLT/Alternativefiles/Linotype-AvenirNextLTProBold.ttf');
}

@font-face{
  font-family: 'AvenirDemi';
  src: url('../GlobalFonts/AvenirNextProLT/Alternativefiles/Linotype-AvenirNextLTProDemi.ttf');
}

@font-face{
  font-family: 'AvenirItalic';
  src: url('../GlobalFonts/AvenirNextProLT/Alternativefiles/Linotype\ -\ Avenir\ Next\ LT\ Pro\ Italic.ttf')
}