// mixins
@mixin fontSize ($fontSize, $fontWeight, $lineHeight){
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
}

@mixin border ($border-width, $border-radius, $border-style, $border-color ,$margin){
  border-width: $border-width;
  border-radius: $border-radius;
  border-style: $border-style;
  border-color: $border-color;
  margin: $margin;

  //2px radius corners
  //1px border
}

@mixin activeBorder ($border-width, $border-radius, $border-style, $border-color ,$margin){
  
  border-width: $border-width;
  border-radius: $border-radius;
  border-style: $border-style;
  border-color: $border-color;
  margin: $margin;
}

// colors
$navigation-backround-fill: #323232;
$primary-cta-text-linl: #004892;
$primary-cta-hover: #002F5F;
$paragraph-text: #323232;
$text-label-style: #AFAFAF;
$text-field-border: #E1E1E1;
$text-field-background-fill: #FAFAFA;