@import "../scss/variables.scss";
@import "../scss/fonts.scss";

.navbar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  background-color: $navigation-backround-fill;
  height: 80px;
  & a {
    color: white;
    text-decoration: none;
  }
  &__img-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 16px;
    &__img {
      width: 140px;
      height: 20px;
    }
  }
  &__text-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    text-align: center;
    &__text {
      padding-bottom: 16px;
      font-family: "AvenirDemi";
      width: 160px;
      justify-self: center;
      color: #afafaf;
    }
    &__text:active {
      border-bottom: 4px solid white;
      color: white;
      padding-bottom: 12px;
    }
  }
}
@media screen and (min-width: 768px) {
  .navbar-container {
    padding-left: 24px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
    color:white;
    &__img-wrapper {
      margin-top: 0px;
    }
    &__text-wrapper {
      height: 100%;
      margin-left: 12px;
      &__text {
        margin: 0px 36px;
        width: 100%;
        height: 100%;
        padding-bottom: 0px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 26px;
        border-bottom: 4px solid transparent;
      }
      &__text:active {
        border-bottom: 4px solid white;
        color: white;
        padding-bottom: 26px;
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .navbar-container {
    padding-left: 180px;
    &__text-wrapper {
      margin-left: 24px;
      &__text {
        width: 80px;
      }
    }
  }
}
